.navbar {
    background-color: #F1F1F1;
}

.card {
    position: relative;
    display: -ms-flexbox;
    min-width: 0;
    border: none;
}

.text-black {
    color: #000000;
    text-decoration: none;
}

.fa-shopping-bag {
    color: #132064;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center
}

h4 {
    text-align: center;
    margin-left: auto;
}

.star {
    color: #F3DC0A;
}

.card-img {
    object-fit: cover;
}

.title {
    bottom: 50% !important;
}


.card {
    border: none;
}

@media (min-width: 992px) and (max-width:1200px) {
    .card-img {
        height: 20vw !important;
    }
}

.fa-shopping-bag {
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    position: absolute;
    vertical-align: middle;
}
h6 {
    border-bottom-color: #132064;
}

.category {
    text-decoration: underline #132064;
    text-decoration-thickness: 1px;
}

.shop {
    border-color: white;
}

.oldPrice {
    color: #FE0000;
    text-decoration-color: #FE0000;
    text-decoration-line: line-through;
}

.all {
    background-color: #000000;
    width: 265px;
    border-radius: 39px;
}

.arrival {
    background-color: #F1F1F1 !important;
}

.item {
    border: none;
}