input{
    width:80%;
    height: 46px;
    border: 1px solid #F1F1F1;
    background: #FAFBFD;
    box-sizing: border-box;
    border-radius: 4px;

}
input :focus {
    outline: none;
    box-shadow: none;
    border:none;
  }
.input1{
    width:38%;
}

button{
    color:#FFFF;
    border: 1px solid #FFFF;
    border-radius: 3px;
    width: 30%;
    background-color: #000;
    height: 46px;
    padding: 10px;
    font-size:larger;
    
}